<%= render "shared/alert_panels" %>
<div class="row">
    <div class="col-lg-8">
      <%= render "main/left_sub_page" %>
    </div>
    <div class="col-lg-4">
      <%= render "main/right_sub_page" %>
    </div>
</div>
