<%= render "shared/chat" %>
<!-- /.panel .chat-panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-sitemap fa-fw"></i> Team Management
    </div>
    <div class="panel-body">
        <div id="morris-team-management"></div>
        <a href="#" class="btn btn-default btn-block">Create New Task (Triage)</a>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
