<div class="chat-panel panel panel-default" id="chat" data-step="5" data-intro='Chat with your patients in real-time through this interface.'>
    <div class="panel-heading">
        <i class="fa fa-weixin fa-fw"></i>
        Patient Chat: Laura Wood (927-e)
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a href="#">
                        <i class="fa fa-refresh fa-fw"></i> Refresh
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-check-circle fa-fw"></i> Available
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-times fa-fw"></i> Busy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-clock-o fa-fw"></i> Away
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-fw"></i> Switch Patient Chat
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out fa-fw"></i> Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                  <%= image_tag "patient_chat.png", :class => "img-circle" %>
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Laura Wood</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                        </small>
                    </div>
                    <p>
                      Ok, thats fine. I will do my best to make it! Thank you doc!
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                  <%= image_tag "doctor_chat.jpg", :class => "img-circle" %>
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                        <strong class="pull-right primary-font">Ram Sharma</strong>
                    </div>
                    <p>
                      Hi Laura, I could reschedule, but it would be in two weeks from now, your reports also show some conditions we should discuss...
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                  <%= image_tag "patient_chat.png", :class => "img-circle" %>
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Laura Wood</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                    </div>
                    <p>
                      Hi, I am feeling a bit sick today, it will be a bit tough coming in for my 2PM appointment, can I reschedule?
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                  <%= image_tag "doctor_chat.jpg", :class => "img-circle" %>
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 30 mins ago</small>
                        <strong class="pull-right primary-font">Ram Sharma</strong>
                    </div>
                    <p>
                      Hi Laura, this is a reminder you have an appointment today at 2PM.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send
                </button>
            </span>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
