<div class="panel panel-danger">
    <div class="panel-heading">
      <i class="fa fa-ambulance fa-fw"></i> Patients That Need Immediate Attention
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID #</th>
                        <th>Name</th>
                        <th>Current Issue</th>
                        <th>Risk Score</th>
                        <th>Admin Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>449-e</td>
                        <td>Alfred Brown</td>
                        <td>Multiple Missed Medications</td>
                        <td>55/100</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus"></i> Assign</button>
                        </td>
                    </tr>
                    <tr>
                        <td>239-f</td>
                        <td>John Doe</td>
                        <td>Missed Appointments</td>
                        <td>60/100</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus"></i> Assign</button>
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>323-n</td>
                        <td>Jerry Smith</td>
                        <td>Low BPM</td>
                        <td>80/100</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus"></i> Assign</button>
                        </td>
                    </tr>
                    <tr>
                        <td>927-e</td>
                        <td>Laura Wood</td>
                        <td>Re: Heart Check-up</td>
                        <td>24/100</td>
                        <td>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus"></i> Assign</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
