<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Patient Interaction Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            <li>
                <div class="timeline-badge danger"><i class="fa fa-ambulance"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Accident Report (392-i)</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago -- Care Manager: Jane Wood</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Patient 392-i (John Smith) was involved in a multiple car accident on Tuesday March 31, 2015 in Toronto, Ontario, Canada. The patient suffered multiple ...</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-money"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Missed Payment (657-q)</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 19 hours ago -- Care Manager: Janet Perry</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Patient 657-q (Rose Patterson) missed her second payment to Grand River Medical for her heart opertation ...</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="fa fa-ambulance"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Intervention #993-h</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 19 hours ago -- Care Manager: Tyler Bridge</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Immediate hopitalization was required for Patient 99-p (Julia Roberts) due to severe reaction to new medication ...</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="fa fa-database"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">New Patient Data</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 Days ago -- Care Manager: Ram Sharma</small></p>
                    </div>
                    <div class="timeline-body">
                        <ul>
                          <li>403 New Medical Records</li>
                          <li>19 New Medical Cases Opened</li>
                          <li>8 New Doctors Found</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted" id="newEvent">
                <div class="timeline-badge info"><i class="fa fa-database"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Upload Complete</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 second ago -- Care Manager: Ram Sharma</small></p>
                    </div>
                    <div class="timeline-body">
                        <ul>
                          <li>403 New Medical Records</li>
                          <li>19 New Medical Cases Opened</li>
                          <li>8 New Doctors Found</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  <!-- /.panel-body -->
</div>
