<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i> Patient Data
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-6">
        <h4>Patient Engagement</h4>
        <div class="row">
          <div id="morris-single-patient-engagement"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h4>Patient Stats</h4>
        <div class="row">
          <div id="morris-single-patient-data-vitals"></div>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
</div>
