<div class="panel panel-info" data-step="4" data-intro='Here you can quickly glance at your patient population developing over time.' data-position='top'>
    <div class="panel-heading">
        <i class="fa fa-area-chart fa-fw"></i> Patient Population Over Time
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-clock-o fa-fw"></i> Time Scale
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">30 Days</a>
                    </li>
                    <li><a href="#">Month to Date</a>
                    </li>
                    <li><a href="#">Last 4 Months</a>
                    </li>
                    <li><a href="#">Last 6 Months</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
          <div id="morris-pop-chart"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
