<h1 class="page-header">Name: Laura Wood<small> ID#: 927-e</small></h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clipboard fa-fw"></i> Patient Information
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-5">
          <form role="form">
            <div class="form-group">
                <label>Status: </label>
                <span class="text-danger">Requires Immediate Intervention</span>
            </div>
            <div class="form-group">
                <label>Care Manager: </label>
                <span class="text-info">Ram Sharma (944)</span>
            </div>
            <div class="form-group">
                <label>Last Appointment: </label>
                <p>
                March 12, 2015 - 5PM
                </p>
            </div>
            <div class="form-group">
                <label>Address: </label>
                <p>
                4444 Coffee Ave<br/>
                Chocolate, California<br/>
                43932, USA
                </p>
            </div>
            <div class="form-group">
                <label>Birth Date: </label>
                04/04/1981
            </div>
            <div class="form-group">
                <label>Gender: </label>
                Female
            </div>
            <div class="form-group">
                <label>Home Phone: </label>
                444-444-4444
            </div>
            <div class="form-group">
                <label>Office Phone: </label>
                555-555-5555
            </div>
            <div class="form-group">
                <label>Language: </label>
                English, Spanish
            </div>
          </form>
        </div>
        <div class="col-lg-7">
          <div class="form-group">
              <label>Family Doctor: </label>
              <p>
              Dr. Peter Roscoe (ID: 3392-9439)<br/>
              439 Hopsital Way<br/>
              Las Vegas, California 90210
              </p>
          </div>
          <div class="form-group">
              <label>Problems: </label>
              <ul class="list-unstyled">
                  <li>DIABETES MELLITUS (ICD-250.)</li>
                  <li>HYPERTENSION, BENIGN ESSENTIAL (ICD-401.1)</li>
              </ul>
          </div>
          <div class="form-group">
              <label>Medication: </label>
              <ul class="list-unstyled">
                  <li>PRINIVIL TABS 20 MG (LISINOPRIL) 1 po qd</li>
                  <li>Last Refill: #30 x 2 : Carl Savem MD (08/27/2010)</li>
                  <li>HUMULIN INJ 70/30 (INSULIN REG & ISOPHANE (HUMAN)) 20 units ac breakfast</li>
              </ul>
          </div>
          <div class="form-group">
              <label>Services Due: </label>
              <ul class="list-unstyled">
                  <li>FLU VAX, PNEUMOVAX, MICROALB URN</li>
              </ul>
          </div>
          <div class="form-group">
              <label>Body Vitals: </label>
              <ul class="list-unstyled">
                  <li>Ht: 64 in. Wt: 140 lbs</li>
              </ul>
          </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
