<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-bar-chart fa-fw"></i> Patient Engagement Overview
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
          <div id="morris-patient-engagement"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
