<div class="panel panel-info" data-step="3" data-intro='Here you can quickly glance at the current state of your patient population.' data-position='top'>
    <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Current Patient Population Overview
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-clock-o fa-fw"></i> Time Scale
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">30 Days</a>
                    </li>
                    <li><a href="#">Month to Date</a>
                    </li>
                    <li><a href="#">Last 4 Months</a>
                    </li>
                    <li><a href="#">Last 6 Months</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="flot-chart">
          <div class="flot-chart-content" id="flot-patient-pop"></div>
      </div>
    </div>
    <!-- /.panel-body -->
</div>
