<div class="modal fade" id="patient_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="modalLabel">Patients at High Risk</h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID #</th>
                                <th>Name</th>
                                <th>Issue</th>
                                <th>Nurse Responsible</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>449-e</td>
                                <td>Alfred Brown</td>
                                <td>Multiple Missed Medications</td>
                                <td>Janet Colburg</td>
                                <td>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-video-camera"></i> Video Chat</button>
                                </td>
                            </tr>
                            <tr>
                                <td>239-f</td>
                                <td>John Doe</td>
                                <td>Missed Appointments</td>
                                <td>Janet Colburg</td>
                                <td>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-video-camera"></i> Video Chat</button>
                                </td>
                            </tr>
                            <tr class="warning">
                                <td>323-n</td>
                                <td>Jerry Smith</td>
                                <td>Low BPM</td>
                                <td>Tyler Bridge</td>
                                <td>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-video-camera"></i> Video Chat</button>
                                </td>
                            </tr>
                            <tr>
                                <td>927-e</td>
                                <td>Laura Wood</td>
                                <td>Re: Heart Check-up</td>
                                <td>Ram Sharma</td>
                                <td>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-video-camera"></i> Video Chat</button>
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>620-c</td>
                                <td>Rob Wu</td>
                                <td>Re: Cancer Follow-up</td>
                                <td>Ram Sharma</td>
                                <td>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-phone"></i> Call</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button>
                                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-video-camera"></i> Video Chat</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Notify Team</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
