<div class="panel panel-warning" id="team_management">
    <div class="panel-heading">
        <i class="fa fa-sitemap fa-fw"></i> Team Management
    </div>
    <div class="panel-body">
        <a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus fa-fw"></i> Assign New Task (Triage)</a>
        <div id="morris-team-management"></div>
    </div>
    <!-- /.panel-body -->
</div>
