<div class="panel panel-warning" id="team_management">
    <div class="panel-heading">
        <i class="fa fa-sitemap fa-fw"></i> Team Management
    </div>
    <div class="panel-body">
      <a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#triage" data-backdrop="static" data-keyboard="false"><i class="fa fa-user-plus fa-fw"></i> Assign New Task (Triage)</a>
      <h4>Current Team - Senior's Ward</h4>
      <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                      <th>ID #</th>
                      <th>Name</th>
                      <th>% Load</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>236</td>
                    <td><i class="fa fa-circle fa-fw online"></i> Tyler Bridge</td>
                    <td>100%</td>
                    <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button></td>
                  </tr>
                  <tr>
                    <td>944</td>
                    <td><i class="fa fa-circle fa-fw busy"></i> Ram Sharma</td>
                    <td>110%</td>
                    <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button></td>
                  </tr>
                  <tr>
                    <td>573</td>
                    <td><i class="fa fa-circle fa-fw emergency"></i> Ryan Peach</td>
                    <td>95%</td>
                    <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button></td>
                  </tr>
                  <tr>
                    <td>943</td>
                    <td><i class="fa fa-circle fa-fw busy"></i> Jason Lamb</td>
                    <td>90%</td>
                    <td><button type="button" class="btn btn-default btn-xs"><i class="fa fa-mobile"></i> Message</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
        <div id="morris-team-management"></div>
    </div>
    <!-- /.panel-body -->
</div>
