<h1 class="page-header page-header-alt">Behind The Code <small> (Decisions and Design)</small></h1>
<div class="row">
  <div class="col-lg-6">
      <h3>Approach</h3>
      <p>
        This case study was approached just like I would with any professional project.
      </p>
      <p>
        My process to develop a solution involved:
        <ul>
          <li>Gathering requirements</li>
          <li>Sketching out possible designs</li>
          <li>Reviewing the essential information and workflows</li>
          <li>Writing and pushing code continuously to ensure it works as designed</li>
          <li>Adding and suggesting features that I think users would value</li>
        </uL>
      </p>
  </div>
  <div class="col-lg-6">
      <h3>Technology Used</h3>
      <p>In order to speed up develop, I used a Bootstrap template that I thought would be a good starting point for quickly developing a dashboard for this purpose: <a href="http://startbootstrap.com/template-overviews/sb-admin-2/" target="_blank">SB Admin 2</a>.</p>
      <ul>
        <li><strong>Information Gathering and Sketches: </strong> Paper and Pen</li>
        <li><strong>Front-End: </strong>
          <ul>
            <li>Bootstrap</li>
            <li>jQuery
              <ul>
                <li>DataTables</li>
                <li>jQuery UI</li>
              </uL>
            </li>
            <li>Raphaël (in conjunction with morris.js and Flot.js) for charts</li>
            <li>Lightbox</li>
            <li>metisMenu</li>
            <li>Font Awesome</li>
            <li>Intro.js</li>
          </ul>
        </li>
        <li><strong>Back-End: </strong>
          <ul>
            <li>Ruby (2.0.0)</li>
            <li>Rails (3.2.21)</li>
            <li>Heroku</li>
          </ul>
        </li>
        <li><strong>Code Management: </strong> Git</li>
      </ul>
  </div>
</div>
