<div data-step="2" data-intro='This is the case study this application was developed for.' data-position='left'>
  <h1 class="page-header page-header-alt">Case Study</h1>
  <div class="row">
    <div class="col-lg-12">
        <h3>Nurse Dashboard</h3>
        <p>
          Note: You will be making a mockup dashboard to be used by Nurses. The goal is to make it easy to see what's going on with their patient population, find out who to engage and when to intervene, and then have some sort of metrics/scores/stats to help engage the Nurse and let them know how well they're doing. We're just as interested in the quality of code (comments are awesome!) as we are with UI/UX decisions.
        </p>
        <p><strong>Seed Random Patients into the system</strong></p>
        <h4>Create a Visual Population Representation</h4>
        <p>Note: You can create the front-end and back-end using any technologies you'd like</p>
        <p>We want to see how you think through the product to make something usable and engaging. Create a main page (meant to be the home page of a Nurse dashboard), which shows some stats about a nurse and their patients. The idea is to engage the Nurse and help them quickly understand which patients need the most attention. Potential "interventions" can include, messages, phone calls, video calls, etc. </p>
        <h4>Create a Visual Representation for Individual Patients</h4>
        <p>Note: You can create the front-end and back-end using any technologies you'd like</p>
        <p>We want to be able to explore a patient's history in depth as needed. This includes intuitively displaying different patients stats - everything from biometrics, to engagement patterns, medications, medical records, hospital visits, etc. Make up some fake stats you think may be interesting and make them easy to visualize, and potentially explore in more depth, to get a view of a patient's current status, and their history. </p>
        <h4>Questions to think about:</h4>
        <ol>
          <li>How well does your product scale - can a single nurse effectively handle 10, 100, 1000 patients?</li>
          <li>What signals could you collect to prioritize which patients the nurses should spend more time on?</li>
          <li>What metrics would you collect about the user and the system to see how well your product UI/UX/Design is performing?</li>
          <li>Where do you see technical bottlenecks arising when you get to the order of 1000+ patients on the system? Both on the front-end and back-end?</li>
          <li>What do you wish you could implement that you didn't get a chance to (since this is a limited coding challenge)?</li>
          <li>How would you onboard a new user who has never used your product before? What parts of the workflow do you think would be most complicated to explain?</li>
        </ol>
    </div>
  </div>
</div>
