<div class="row">
    <div class="col-lg-8">
      <%= render "dashboard/high_risk_patients_short" %>
      
    </div>
    <div class="col-lg-4">
      <%= render "dashboard/right_sub_page" %>
    </div>
</div>
