<div class="row">
    <div class="col-lg-8">
      <%= render "dashboard/patient_details" %>
      <%= render "dashboard/patient_data" %>
    </div>
    <div class="col-lg-4">
      <%= render "dashboard/right_sub_page" %>
    </div>
</div>
