<div class="row">
    <div class="col-lg-8" id="main-content-dash">
      <%= render "dashboard/patient_details" %>
      <%= render "dashboard/patient_data" %>
      <%= render "dashboard/patient_assets" %>
    </div>
    <div class="col-lg-4" id="side-content-dash">
      <%= render "dashboard/right_sub_page" %>
    </div>
</div>
