<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" data-step="1" data-intro='Welcome to Care Control Center, this is the navigation. Teach your users how to operate each part of the site. Click help on each page to get more information...Enjoy!'>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=dashboard_url(:key => Carecontrol::REQUEST_KEY)%>"><i class="fa fa-heartbeat"></i> Care Control Center</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li id="introjs-help">
          <a href="#nav-help">
              <i class="fa fa-info fa-fw"></i> Help
          </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav-messages">
                <i class="fa fa-envelope fa-fw"></i> My Messages <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <a href="#nav-message1">
                        <div>
                            <strong>John Doe</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Hello, I recieved some payment information I am not sure about, can someone...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-message2">
                        <div>
                            <strong>Alfred Brown</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>I have run out of Xanax, and I cannot find it in my local pharamacy...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="danger">
                    <a href="#nav-message3">
                        <div>
                            <strong>Jerry Smith</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>I am experiecing light headed symptoms after I switched to the new medication...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#nav-read-all-messages">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav-todays-tasks">
                <i class="fa fa-tasks fa-fw"></i> Today's Tasks <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#nav-task1">
                        <div>
                            <p>
                                <strong>Complete Daily Patient Checks</strong>
                                <span class="pull-right text-muted">40%</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-task2">
                        <div>
                            <p>
                                <strong>File Medical Reports for John Doe</strong>
                                <span class="pull-right text-muted">20%</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-task3">
                        <div>
                            <p>
                                <strong>Train Staff for New Procedure</strong>
                                <span class="pull-right text-muted">60%</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-task4">
                        <div>
                            <p>
                                <strong>Physio for Patient ID# 032-j</strong>
                                <span class="pull-right text-muted">80%</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#nav-see-all-tasks">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav-notifications">
                <i class="fa fa-bell fa-fw"></i> Notifications <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#nav-notification1">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Interaction
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-notification2">
                        <div>
                            <i class="fa fa-user fa-fw"></i> New Patient
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-notification3">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">14 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-notification4">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 hours ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#nav-notification5">
                        <div>
                            <i class="fa fa-database fa-fw"></i> New Patient Data Upload
                            <span class="pull-right text-muted small">2 days ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#nav-see-all-notifications">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> Account <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#nav-user-profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#nav-user-settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <%= render "shared/sidebar" %>
</nav>
