<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#quickadd" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit fa-fw"></i> Add Patient Data</a>
            </li>
            <li>
                <a href="<%=dashboard_url(:key => 'GLC6vQrubTiacu')%>"><i class="fa fa-stethoscope fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="<%=patients_url(:key => 'GLC6vQrubTiacu')%>"><i class="fa fa-user-md fa-fw"></i> My Patients</a>
            </li>
            <li>
                <a href="<%=interactions_url(:key => 'GLC6vQrubTiacu')%>"><i class="fa fa-comments fa-fw"></i> Interactions</a>
            </li>
            <hr/>
            <li>
                <a href="###"><i class="fa fa-file-code-o fa-fw"></i> Behind The Code</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
