<div class="panel panel-default" id="team_management">
    <div class="panel-heading">
        <i class="fa fa-sitemap fa-fw"></i> Team Management
    </div>
    <div class="panel-body">
        <a href="#" class="btn btn-outline btn-primary btn-lg btn-block"><i class="fa fa-user-plus fa-fw"></i> Assign New Task (Triage)</a>
        <div id="morris-team-management"></div>
    </div>
    <!-- /.panel-body -->
</div>
